Makefile
Makefile.in
config.*
*.a
*.o
*.lo
*.la
*.cat
*.gcno
*.gcda
.deps
.libs
.dirstamp
stamp-h1
stamp-h2
autom4te.cache
config.h*
*~
*.list
tests/test*
tools/dev/env/logs/*
test-driver
tap-driver.sh
clients/mwm/mwm
clients/uil/uil
clients/xmbind/xmbind
tools/makestrs/makestrs
compile
configure
depcomp
install-sh
ltmain.sh
missing
ylwrap
m4/lt*.m4
m4/libtool.m4
build-aux
motif.pc
localized/util/mkcatdefs
demos/unsupported/xmform/xmform
demos/unsupported/xmforc/xmforc
demos/unsupported/xmfonts/xmfonts
demos/unsupported/xmapdef/xmapdef
demos/unsupported/uilsymdump/uilsymdump
demos/unsupported/motifshell/motifshell
demos/unsupported/hellomotif/hellomotif
demos/unsupported/dogs/dogs
demos/unsupported/aicon/aicon
demos/unsupported/dainput/dainput
demos/unsupported/dogs/dogs.uid
demos/lib/Xmd/onHelp
demos/programs/airport/airport
demos/programs/ButtonBox/bboxdemo
demos/programs/Column/column
demos/programs/Combo2/combo
demos/programs/drag_and_drop/DNDDemo
demos/programs/drag_and_drop/simpledrop
demos/programs/draw/draw
demos/programs/earth/earth
demos/programs/Exm/app_in_c/exm_in_c
demos/programs/Exm/simple_app/simpleDemo
demos/programs/Ext18List/ext18list
demos/programs/filemanager/filemanager
demos/programs/fileview/English.uid
demos/programs/fileview/fileview
demos/programs/fileview/French.uid
demos/programs/fileview/German.uid
demos/programs/FontSel/fontsel
demos/programs/getsubres/getsubres
demos/programs/hellomotif/hellomotif
demos/programs/hellomotif/hellomotif.uid
demos/programs/hellomotifi18n/C/uid/l_strings.uid
demos/programs/hellomotifi18n/C/uid/l_strings.uid
demos/programs/hellomotifi18n/english/uid/l_strings.uid
demos/programs/hellomotifi18n/english/uid/l_strings.uid
demos/programs/hellomotifi18n/french/uid/l_strings.uid
demos/programs/hellomotifi18n/french/uid/l_strings.uid
demos/programs/hellomotifi18n/hebrew/uid/l_strings.uid
demos/programs/hellomotifi18n/hebrew/uid/l_strings.uid
demos/programs/hellomotifi18n/japan/uid/l_strings.uid
demos/programs/hellomotifi18n/japan/uid/l_strings.uid
demos/programs/hellomotifi18n/japanese/uid/l_strings.uid
demos/programs/hellomotifi18n/japanese/uid/l_strings.uid
demos/programs/hellomotifi18n/swedish/uid/l_strings.uid
demos/programs/hellomotifi18n/swedish/uid/l_strings.uid
demos/programs/animate/dog.uid
demos/programs/animate/plane.uid
demos/programs/animate/superman.uid
demos/programs/animate/xmanimate
demos/programs/animate/xmanimate.uid
demos/programs/hellomotifi18n/helloint
demos/programs/hellomotifi18n/helloint.uid
demos/programs/i18ninput/i18ninput
demos/programs/IconB/iconbuttondemo
demos/programs/Outline/outline
demos/programs/Paned/paned
demos/programs/panner/panner
demos/programs/periodic/periodic
demos/programs/periodic/periodic.uid
demos/programs/piano/piano
demos/programs/popups/autopopups
demos/programs/sampler2_0/sampler2_0
demos/programs/setdate/setDate
demos/programs/TabStack/tabstack
demos/programs/todo/todo
demos/programs/tooltips/tooltips
demos/programs/Tree/tree
demos/programs/workspace/wsm
demos/lib/Exm/wml/Exm.wmd
demos/lib/Exm/wml/tokens.dat
tools/wml/motif.wmd
tools/wml/wml
tools/wml/wml-uil.mm
tools/wml/wml.report
tools/wml/wmldbcreate
tools/wml/wmluiltok
demos/lib/Exm/wml/wml-uil.mm
demos/lib/Exm/wml/wml.report
demos/lib/Exm/wml/wmldbcreate
demos/doc/programGuide/ch05/Scale/tic_mark
demos/doc/programGuide/ch06/combo_box/combo_box
demos/doc/programGuide/ch08/Container/container
demos/doc/programGuide/ch08/Notebook/notebook
demos/doc/programGuide/ch16/UTMXmText
demos/doc/programGuide/ch17/simple_drag/simple_drag
demos/doc/programGuide/ch17/simple_drop/simple_drop
demos/doc/programGuide/ch06/spin_box/spin_box
XmStrDefs.c
lib/Xm/Xm.h
libtool
aclocal.m4
clients/uil/UilDBDef.h
clients/uil/UilLexPars.c
clients/uil/UilParser.c
demos/lib/Exm/wml/UilConst.h
demos/lib/Exm/wml/UilKeyTab.h
demos/lib/Exm/wml/UilSymArTa.h
demos/lib/Exm/wml/UilSymArTy.h
demos/lib/Exm/wml/UilSymChCl.h
demos/lib/Exm/wml/UilSymChTa.h
demos/lib/Exm/wml/UilSymCSet.h
demos/lib/Exm/wml/UilSymCtl.h
demos/lib/Exm/wml/UilSymEnum.h
demos/lib/Exm/wml/UilSymGen.h
demos/lib/Exm/wml/UilSymNam.h
demos/lib/Exm/wml/UilSymRArg.h
demos/lib/Exm/wml/UilSymReas.h
demos/lib/Exm/wml/UilTokName.h
demos/lib/Exm/wml/UilUrmClas.h
demos/programs/ColorSel/colordemo
lib/Xm/XmStrDefs.h
lib/Xm/XmStrDefs22.h
lib/Xm/XmStrDefs23.h
lib/Xm/XmStrDefsI.h
tools/wml/Uil.c
tools/wml/Uil.h
tools/wml/UilConst.h
tools/wml/UilKeyTab.h
tools/wml/UilLexPars.c
tools/wml/UilLexPars.h
tools/wml/UilSymArTa.h
tools/wml/UilSymArTy.h
tools/wml/UilSymChCl.h
tools/wml/UilSymChTa.h
tools/wml/UilSymCSet.h
tools/wml/UilSymCtl.h
tools/wml/UilSymEnum.h
tools/wml/UilSymGen.h
tools/wml/UilSymNam.h
tools/wml/UilSymRArg.h
tools/wml/UilSymReas.h
tools/wml/UilTokName.h
tools/wml/UilUrmClas.h
tools/wml/wmllex.c
tools/wml/wmlparse.c
tools/wml/wmlparse.h
tools/wml/wmluiltok.c
lib/Mrm/MrmMsgCatI.h
lib/Xm/XmMsgCatI.h
lib/Xm/version.h
TODO